@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root{

    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --med-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
    --reg-font-size: 18px;
    --larger-font-size: 32px;

}

*{
    min-height: 100vh;
    font-family: 'DM Sans', sans-serif;    
}

body{
    background-color: var(--cream);
    box-sizing: border-box;
    transition: 0.7s;
}

.container{
    width: 30%;
    height: 60%;

}


.card{
    background-color: var(--soft-red);
    color: whitesmoke;
    justify-content: space-between;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 15px 30px;
}

.balance-text,
.balance-amount{
    color: white;
}

.balance-text{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.circle


.chart-area{
    background-color: var(--very-pale-orange);
    color: var(--dark-brown);
    margin-top: 20px;
    height: 80%;
    border-radius: 20px;
    padding: 30px;
}


.chart-title{
    font-size: 1.7rem;
    color: var(--dark-brown);
    font-weight: 700;
}

#chart{
    border-bottom: 1px solid var(--cyan);
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

#charts-child
#day
#amount

.day{
    color: var(--dark-brown);
    position: absolute;
    bottom: -30px;
    width: 100%;
}

.amount{
    color: var(--med-brown);
    position: relative;
    bottom: 40px;
    width: 110%;

}

.chart-footer{
    color: var(--dark-brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 10%;
}

.total-left,
.total-left-amount{
    justify-content: left;
}

.total-right-amount,
.total-right{
    justify-content: right;
}

.total-left,
.total-right-amount{
    bottom: 30px;
}

.total-left-amount,
.total-right{
    bottom: -30px;
}


.attribution { font-size: 11px; text-align: center; position: fixed; }
.attribution a { color: hsl(228, 45%, 44%); }